@import "tailwindcss";

:root {
  /* --primary-color: #145e1e; */
  --primary-color: #cbdf19;
}

[data-theme="blue"] {
  --primary-color: #1d4ed8;
}

[data-theme="red"] {
  --color-primary: #dc2626;
}
