@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #145e1e;
}

[data-theme="blue"] {
  --primary-color: #1d4ed8;
}

[data-theme="red"] {
  --primary-color: #dc2626;
}
